Listen 4433

<VirtualHost *:4433>
    ServerName test.uv100.com
    DocumentRoot /var/www/uv100
    Options -Indexes +FollowSymLinks

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/test.uv100.com.crt
    SSLCertificateKeyFile /etc/apache2/ssl/test.uv100.com.key

    <Directory "/var/www/uv100">
      Options -Indexes +FollowSymLinks
      DirectoryIndex index.php
      AllowOverride All
      <IfVersion < 2.4>
        Allow from all
      </IfVersion>
      <IfVersion >= 2.4>
        Require all granted
      </IfVersion>
    </Directory>

    ErrorLog /var/log/apache2/error.log
    CustomLog /var/log/apache2/access.log combined
</VirtualHost>
